html,
body {
  height: 100%;
  background-color: #1f2833 !important; /* Overide Bootstrap */
}

.navbar > a,
.nav-item > a,
.navbar > span,
h1 {
  color: #66fcf1 !important; /* Overide Bootstrap */
}

.nav-item:hover {
  text-decoration: underline;
}

.content {
  border-top: 2px solid lightgray;
  padding-top: 1rem;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #f5f5f5;
}

/* Feedback for Portfolio images */
img:hover {
  padding: 0 5px 5px 0;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: auto;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  box-shadow: 0 3px 20px #66fcf1;
}
