html,
body {
  height: 100%;
}

.nav-item:hover {
  text-decoration: underline;
}

.content {
  border-top: 2px solid lightgray;
  padding-top: 1rem;
}

img {
  padding: 0 20px 5px 0;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #f5f5f5;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}
