html,
body {
  height: 100%;
  background-color: #1f2833 !important; /* Overide Bootstrap */
}

.nav-item > a,
.navbar > span,
h1 {
  color: #66fcf1 !important; /* Overide Bootstrap */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

#headshotImg {
  margin: 0 20px 10px 0;
}

#headshotImg > a:hover {
  color: #66fcf1 !important;
}

/* Underline effect for navbar items */
.nav-item > a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-item > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item > a:hover:after {
  width: 100%;
  left: 0;
}

.content {
  border-top: 2px solid lightgray;
  padding-top: 1rem;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #f5f5f5;
  color: #c5c6c7;
  font-size: small;
}

/* Feedback for Portfolio images */
a > img:hover {
  padding: 0 5px 5px 0;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .3s ease;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: auto;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: .3s ease;
  box-shadow: 0 3px 20px #66fcf1;
}

/* Feedback for Portfolio buttons */
.appLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.appLinks > a {
  border-radius: 5px;
  color: white;
  margin: 10px 10px 0 0;
  border: 1px solid #ffffff;
}

.appLinks > a:hover {
  background-color: #66fcf1;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  color: black;
  box-shadow: 0 3px 5px #ffffff;
}

/* Spacing icons in footer */
.bi-telephone,
.bi-envelope {
  margin-right: 5px;
}

.bi-envelope,
.bi-file-arrow-down {
  margin-left: 5px;
}
